version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  acquire:
    build: ./acquire
    container_name: acquire
    ports:
      - "3001:3001"
    depends_on:
      - mongo

  predict:
    build: ./predict
    container_name: predict
    ports:
      - "3002:3002"

  orchestrator:
    build: ./orchestrator
    container_name: orchestrator
    ports:
      - "8080:8080"
    depends_on:
      - acquire
      - predict

volumes:
  mongo_data:
